// Basic KA2 The General War Tech Tree
// Each .ODF entry is followed by a 0, -1, -2
//  0 = Nothing is required to build this .ODF 
// -1 = Impossible to build.  Anything dependent on this .ODF can not be built.
// -2 = Impossible to build, but don't touch dependencies, so that if somehow I already existed or was acquired, you could build anything dependent on me.

// ***[ FEDERATION SHIPS ]************************
//
fconst.odf      1 fbase.odf                                                           // Construction Tender (Liberty Class FACS)
ffreight.odf    1 fbase.odf                                                           // Mining Freighter (Freelancer Class FDF)
fcargo.odf      1 fbase.odf                                                           // Cargo Freighter (Clydesdale Class FAK)
fsrepair.odf    3 fbase.odf fedhull5.odf fresearchc.odf                               // Fleet Repair Tender (Unity Class FAR) 
fcolony.odf     3 fbase.odf fresearcha.odf fresearchb.odf                             // Colony Ship (Independence Class FFB)
fassault.odf    3 fbase.odf fedhull5.odf fresearcha.odf                               // Troop Transport (Washington Class FAPA)
ffighter.odf    3 fbase.odf fmonitoring.odf fcarrier.odf                              // Fighter (Hornet FFA)
fescort.odf     1 fbase.odf                      	                                  // Escort (Oberth Class FEC)
ffrigate.odf    1 fbase.odf                                                           // Frigate (Okinawa Class FFF)
fdestroy.odf    2 fbase.odf FedHull1.odf                                              // Destroyer (Akula Class Refit FDD)
fdestroyl.odf   3 fbase.odf FedHull1.odf FedEqu2.odf                                  // Destroyer Leader (Warsaw Class FDL)
flcruise.odf    2 fbase.odf FedHull2.odf                                              // Light Cruiser (Miranda Class FCL)
fgcruise.odf    3 fbase.odf FedHull2.odf FedEqu3.odf                                  // Gun Cruiser (Soyuz Class FGC)
fcruise.odf     2 fbase.odf FedHull3.odf                                              // Heavy Cruiser (Constitution Class Refit FCA)
fgscruise.odf   3 fbase.odf FedHull3.odf FedEqu4.odf                                  // Galactic Survey Cruiser (Ranger Class FGSC)
ftcruise.odf    3 fbase.odf FedHull3.odf FedEqu5.odf                                  // Torpedo Cruiser (Salazar Class FCT)
fccruise.odf    2 fbase.odf FedHull4.odf                                              // Command Cruiser (Lexington Class FCC)
fncruise.odf    3 fbase.odf FedHull4.odf FedEqu6.odf                                  // New Heavy cruiser (Richmond Class FNCA)
fbcruise.odf    2 fbase.odf FedHull5.odf                                              // Battlecruiser (Excelsior Class FBC)
fdread.odf      3 fbase.odf FedHull6.odf FedMiscR1.odf                                // Modern Dreadnought (Ulysses Class FDN)
fdreadp.odf     5 fbase.odf FedHull6.odf FedMiscR1.odf FedMiscR6.odf fedpod5.odf      // Plasma Dreadnought (Belknap Class FDNp)
fbattle.odf     5 fbase.odf FedHull7.odf FedMiscR1.odf FedMiscR3.odf FedMiscR4.odf    // Battleship (Missouri Class FBB)
fxbattle.odf    5 fbase.odf FedHull8.odf FedMiscR1.odf FedMiscR3.odf fsuperbl.odf     // Experimental Battleship (Yamato Class FBBX)
fcarrier.odf    4 fbase.odf FedHull7.odf FedMiscR1.odf FedMiscR3.odf                  // Fleet Carrier (Ark Royal Class FCVN)

fenta.odf       2 fbase.odf FedHull3.odf                                              // USS Enterprise-A (Hero Ship)

// ***[ FEDERATION RESEARCH PROJECTS ]*********************

FedHull1.odf  2 fbase.odf fresearcha.odf			        		    	// Hull Research (Destroyer DD)
FedHull2.odf  3 fbase.odf fresearcha.odf fedHull1.odf                   	// Hull Research (Light Cruiser CL)
FedHull3.odf  3 fbase.odf fresearcha.odf fedhull2.odf                   	// Hull Research (Heavy Cruiser CA)
FedHull4.odf  3 fbase.odf fresearcha.odf fedhull3.odf                   	// Hull Research (Command Cruiser CC)
FedHull5.odf  3 fbase.odf fresearcha.odf fedhull4.odf                   	// Hull Research (Battlecruiser BC)
FedHull6.odf  3 fbase.odf fresearcha.odf fedhull5.odf 		            	// Hull Research (Dreadnought Modern DN)
FedHull7.odf  4 fbase.odf fresearcha.odf fedhull6.odf fedpod5.odf       	// Hull Research (Battleship BB)
FedHull8.odf  4 fbase.odf fresearcha.odf fedhull7.odf fedpod5.odf       	// Hull Research (Battleship Experimental BBX)

FedEqu2.odf   4 fbase.odf fresearchb.odf fedhull1.odf FedMiscR2.odf             // Conversion Kit (Destroyer Leader DL)
FedEqu3.odf   4 fbase.odf fresearchb.odf fedhull2.odf FedMiscR2.odf             // Conversion Kit (Gun Cruiser CG)
FedEqu4.odf   4 fbase.odf fresearchb.odf fedhull3.odf fedpod4.odf               // Conversion Kit (Galactic Survey Cruiser GSC)
FedEqu5.odf   5 fbase.odf fresearchb.odf fedhull3.odf FedMiscR5.odf Fedpod5.odf // Conversion Kit (Torpedo Cruiser CT)
FedEqu6.odf   4 fbase.odf fresearchb.odf fedhull4.odf fedpod5.odf               // Conversion Kit (New Heavy Cruiser NCA)

FedMiscR1.odf 3 fbase.odf fresearchc.odf FedHull6.odf                                        // Research Pod (Type II-U Warp Nacelles - Capital Ships)
FedMiscR2.odf 3 fbase.odf fresearchc.odf FedHull1.odf                                        // Research Pod (Type H Phaser Emitters - Megaphasers)
FedMiscR3.odf 3 fbase.odf fresearchc.odf fedpod24.odf                             	     	 // Research Pod (Dual Warp Plasma Relays - Dual Warp Cores)
FedMiscR4.odf 3 fbase.odf fresearchc.odf FedHull6.odf                                        // Research Pod (Single Centreline Nacelles - Odd-Numbers of Warp Nacelles)
FedMiscR5.odf 3 fbase.odf fresearchc.odf FedHull3.odf 				             			 // Research Pod (Proximity Detonation Fuses - Proximity Torpedoes)
FedMiscR6.odf 3 fbase.odf fresearchc.odf fedpod21.odf                             	     	 // Research Pod (Plasma Torpedo Weaponry - Federation Plasma Torpedoes)
fedpod1.odf   6 fbase.odf fresearchc.odf fedpod5.odf fsuperbl.odf FedMiscR3.odf fedpod21.odf // Research Pod (Superconductive Power Coils - Assault Phaser)
fedpod2.odf   5 fbase.odf fresearchc.odf fedpod5.odf fsuperbl.odf fedpod22.odf               // Research Pod (Reinforced Spinal Integrity Fields - Assault Phaser)
fedpod3.odf   3 fbase.odf fresearchc.odf FedHull4.odf			                     		 // Research Pod (Reiterative Tractor Neam Circuitry - Quantum Wave-Carrier Beam)
fedpod4.odf   4 fbase.odf fresearchc.odf fmonitoring.odf fedpod23.odf                        // Research Pod (Enhanced Sensor Plasma Detection Techniques - Cloak Detection)
fedpod5.odf   3 fbase.odf fresearchc.odf FedHull6.odf  	                                     // Research Pod (Enemy Vessel Report - Battleship Requisition)

fedpod11.odf  2 fbase.odf fupgrade.odf                           // Research Pod (Weapon Systems Recyclic Energy Circuitry - Weapon Systems Upgrade I)
fedpod12.odf  2 fbase.odf fupgrade.odf                           // Research Pod (Remodulating Shield Harmonics Booster - Shield Systems Upgrade I)
fedpod13.odf  2 fbase.odf fupgrade.odf                           // Research Pod (Sensor Package Plasma Detection Subroutines - Sensor Package Upgrade I)
fedpod14.odf  2 fbase.odf fupgrade.odf                           // Research Pod (Warp Field Streamlining & Impulse Drive Superconductors - Propulsion Systems Upgrade I)
fedpod15.odf  2 fbase.odf fupgrade.odf                           // Research Pod (Life Support Redundancy Circuitry - Life Support Systems Upgrade I)
fedpod21.odf  3 fbase.odf fedpod11.odf fedpod5.odf               // Research Pod (Hyperrelay Weapon Capacitor - Weapon Systems Upgrade II)
fedpod22.odf  3 fbase.odf fedpod12.odf fedpod5.odf               // Research Pod (Auxilliary Shielding Generation Systems - Shield Systems Upgrade II)
fedpod23.odf  3 fbase.odf fedpod13.odf fedpod5.odf               // Research Pod (Unique Plasma Signature Detection Computer - Sensor Package Upgrade II)
fedpod24.odf  3 fbase.odf fedpod14.odf fedpod5.odf               // Research Pod (Engine System Additive Shielding - Propulsion Systems Upgrade II)
fedpod25.odf  3 fbase.odf fedpod15.odf fedpod5.odf               // Research Pod (Emergency Anti-Depressurisation Array - Life Support Systems Upgrade II)  

shieldFederation.odf  1 fedpod22.odf    						 // Planetary Shield (Federation)

// ***[ FEDERATION MIXED TECH ]*********************

FedMix1.odf 3 fbase.odf fresearchc.odf kconst.odf                // Klingon Tech (Star Empire) - Capture
FedMix2.odf 3 fbase.odf fresearchc.odf rconst.odf                // Romulan Tech (Cerberus) - Capture
FedMix3.odf 2 fbase.odf fresearchc.odf                           // Gorn Tech (Excelsior-R) - Allied
FedMix4.odf 3 fbase.odf fresearchc.odf iconst.odf                // ISC Tech (Jump Drives) - Capture
FedMix5.odf 2 fbase.odf fresearchc.odf  				         // Hydran Tech (Hornet-B) - Allied
FedMix6.odf 3 fbase.odf fresearchc.odf lconst.odf                // Lyran Tech (ESGs) - Capture   

FStarEmpire.odf 3 fbase.odf FedHull6.odf FedMix1.odf                       // Unique Dreadnought (USS Star Empire)  
FCerberus.odf   3 fbase.odf FedHull2.odf FedMix2.odf					   // Special Ops Cruiser (USS Cerberus) 
FBCruiseR.odf   3 fbase.odf FedHull5.odf FedMix3.odf					   // Heavy Battlecruiser (Excelsior Class Refit FBCH)
FFighterB.odf   4 fbase.odf fmonitoring.odf fcarrier.odf FedMix5.odf       // Fighter (Hornet-B FFA)

GFHoloGen.odf   1 FedMix2.odf								   // Holographic Generator
gFSSDG.odf      1 FedMix4.odf 								   // Jump Drives (Excelsior)
gFSSDG2.odf     1 FedMix4.odf 								   // Jump Drives (Excelsior-R)
gFESG2.odf		1 FedMix6.odf								   // Expanding Sphere Generator (Mirandas and USS Cerberus)

FCarrierUp.odf  1 FedMix5.odf 								   // Carrier Upgrade

ReserveFleetWarpIn.odf 2 fbase.odf fyard.odf                   // Reserve Fleet Warp-In Ability
                                                 
// ***[ FEDERATION STATIONS ]*********************
//
fbase.odf     	 0                                         					// Starbase F
fmonitoring.odf  1 fbase.odf					              				// Monitoring Station
fmining.odf   	 1 fbase.odf                                       			// Dilithium Mining Station
forbital.odf  	 1 fbase.odf				              					// Orbital Processing Facility F
fsensor.odf   	 2 fbase.odf fmonitoring.odf                            	// Sensor Probe
fmine.odf     	 2 fbase.odf fmonitoring.odf                            	// Type FA Mine
fyard.odf     	 1 fbase.odf                             					// Shipyard F
fyard2.odf    	 4 fbase.odf fresearcha.odf fresearchb.odf fresearchc.odf   // Advanced Shipyard
ftrading.odf  	 1 fbase.odf                               					// Trading Station F
fresearcha.odf   1 fbase.odf                               					// Utopia Planitia Vessel Hull Research Centre (Hulls)
fresearchb.odf   1 fbase.odf                               					// Utopia Planitia Vessel Modification Centre (Conversions)
fresearchc.odf   1 fbase.odf                               					// Utopia Planitia Miscellaneous Systems Research Centre (Equipment)
fupgrade.odf  	 4 fbase.odf fresearcha.odf fresearchb.odf fresearchc.odf  	// Vulcan Research Institute (Upgrades)
fsuperbl.odf  	 2 fbase.odf fupgrade.odf                 					// Utopia Planitia Experimental Research Laboratory (Super Station)

// ***[ FEDERATION ADVANCED WEAPONS ]**************
//
gFDAssault.odf     3 fedpod1.odf fedpod2.odf fsuperbl.odf   	// Dual Assault Phasers (Yamato Class FBBX)
gFQCB.odf          1 fedpod3.odf                            	// Quantum Wave-Carrier Beam (Washington Class FAPA, Lexington Class FCC, Ulysses Class FDN & Missouri Class FBB)
gDetectF.odf       3 fedpod4.odf fsensor.odf fmonitoring.odf    // Cloak Detection Equipment (Monitoring Stations, Sensor Probes & Oberth Class EC)

// ***[ KLINGON SHIPS ]***************************
//
kconst.odf    1 kbase.odf                          					  							// Construction Tender (Warpig Class KACS)
kfreight.odf  1 kbase.odf                          					  							// Mining Freighter (Bloodline Class KDF)
kcargo.odf    2 kbase.odf klihull2.odf 	         	   					  						// Cargo Freighter (Lifeblood Class KAK)
ksrepair.odf  3 kbase.odf kresearcha.odf kliEqu2.odf					  						// Repair Frigate (Suspicious-R Class KAR)
kcolony.odf   3 kbase.odf klihull2.odf kliMiscR3.odf            					  			// Colony Ship (Brave Settler Class KFB) 
kassault.odf  2 kbase.odf klihull2.odf                 					  						// Assault Transport (Poisoned Barb Class KAPA) 
kfighter.odf  3 kbase.odf koutpost.odf kcarrier.odf         					  				// Fighter (Iron Fist Class KFA)
kescort.odf   2 kbase.odf klihull5.odf         	    					  						// Escort (Bird of Prey Class KEC)
ksfrigate.odf 2 kbase.odf kliEqu1.odf 		    					  							// Science Frigate (Suspicious-S Class KFS)
kcfrigate.odf 2 kbase.odf kliEqu2.odf                					  						// Cargo Frigate (Suspicious-C Class KFC)
kfrigate.odf  1 kbase.odf		 	           					  								// Battle Frigate (Suspicious Class KFF)
kdestroy.odf  3 kbase.odf klihull1.odf klipod1.odf   					  						// Destroyer (Insurrection Class KDD)
kdestroyl.odf 3 kbase.odf klihull1.odf kliEqu3.odf   					  						// Destroyer Leader (Captain Class KDL)
klcruise.odf  2 kbase.odf kliHull2.odf               					  						// Light Cruiser (Relentless Class KCL)
kcruise.odf   2 kbase.odf kliHull2.odf               					  						// Heavy Cruiser (Great Powerful Conquerer Class KCA)
kscruise.odf  3 kbase.odf kliHull2.odf kliEqu4.odf   					  						// Scout Cruiser (War Scout Class KCS)
ktcruise.odf  6 kbase.odf kliHull2.odf kliEqu5.odf kliMiscR3.odf kliMiscR4.odf kliMiscR2.odf    // Torpedo Cruiser (Shortsword Class KCT)
kccruise.odf  5 kbase.odf klihull2.odf kliEqu5.odf kliMiscR3.odf kliMiscR2.odf 		            // Command Cruiser (Warrior's Anger Class KCC)
kqonos.odf    2 kbase.odf klihull2.odf 							  								// Battlecruiser (Kronos Class KBC)
kbcruise.odf  5 kbase.odf klihull2.odf kliEqu5.odf kliMiscR1.odf klipod2.odf  			        // Battlecruiser (Emperor Class KBC)
kbertaa.odf   3 kbase.odf klihull3.odf klipod2.odf 												// Supercruiser (Bird of Blood Class KCB)
kdread.odf    5 kbase.odf klihull3.odf kliMiscR1.odf kliMiscR2.odf kliMiscR3.odf 			    // Dreadnought (Accuser Class KDN)
kbattle.odf   5 kbase.odf klihull4.odf kliMiscR1.odf kliMiscR2.odf klipod2.odf  			    // Battleship (Sword of Kahless Class KBB)
ksuper.odf    4 kbase.odf ksuperbl.odf klihull5.odf klipod6.odf 								// Experimental Warship (Bird of Prey Class KECX) 
kcarrier.odf  3 kbase.odf klihull4.odf kliMiscR1.odf 							        		// Battlecarrier (Mother of Death Class KCVB) 

khero.odf  	  5 kbase.odf klihull2.odf kliEqu5.odf kliMiscR1.odf klipod2.odf  			        // IKS TegH'GaH (Hero Ship)

// ***[ KLINGON RESEARCH PROJECTS ]*********************

kliHull1.odf  3 kbase.odf kresearcha.odf klihull5.odf 	// Hull Research (F Series)
kliHull2.odf  3 kbase.odf kresearcha.odf kliHull5.odf	// Hull Research (D Series)
kliHull3.odf  3 kbase.odf kresearcha.odf klihull2.odf 	// Hull Research (C-I Series)
kliHull4.odf  3 kbase.odf kresearcha.odf kliHull3.odf	// Hull Research (B Series) 
kliHull5.odf  2 kbase.odf kresearcha.odf 				// Hull Research (E Series)

kliequ1.odf   2 kbase.odf kresearchb.odf 								// Conversion Kit (Science Frigate FS) 
kliequ2.odf   2 kbase.odf kresearchb.odf 								// Conversion Kit (Cargo Frigate FC)
kliequ3.odf   4 kbase.odf kresearchb.odf klihull1.odf klipod1.odf 		// Conversion Kit (Destroyer Leader DL)
kliequ4.odf   4 kbase.odf kresearchb.odf klihull2.odf klipod23.odf  	// Conversion Kit (Scout Cruiser CS)
kliequ5.odf   3 kbase.odf kresearchb.odf klihull2.odf 		   			// Conversion Kit (C-II Series Conversion)

klimiscR1.odf 3 kbase.odf kresearchc.odf kliequ5.odf  		                // Research Pod (Trilithium Depeleted Pellets - Heavy Photon Torpedoes)
klimiscR2.odf 3 kbase.odf kresearchc.odf kliHull2.odf                       // Research Pod (Dual Forward Torpedo Tubes - Capital Ships and Cruisers)
klimiscR3.odf 3 kbase.odf kresearchc.odf kliHull2.odf						// Research Pod (Centreform Non-Propulsive Nacelles - Specialised Cruisers)
klimiscR4.odf 3 kbase.odf kresearchc.odf kliHull2.odf              		    // Research Pod (Proximity Detonation Fuses - Proximity Torpedoes)
klipod1.odf   3 kbase.odf kresearchc.odf kliHull5.odf 		                // Research Pod (Frequency Modulated Particle Weapons - FMPA Cannons)
klipod2.odf   3 kbase.odf kresearchc.odf klipod1.odf                        // Research Pod (Dual Advanced Weapon Wing Mounts - Dual FMPA Cannons)
klipod3.odf   3 kbase.odf kresearchc.odf kliequ5.odf           	     		// Research Pod (Gravitic Harmonous Resonator Examination - Captured Gorn Weapon)
klipod4.odf   3 kbase.odf kresearchc.odf klimiscR3.odf               		// Research Pod (Anti-Matter Field Projection Technology - Heavy Weaponry)
klipod5.odf   4 kbase.odf kresearchc.odf klimiscR3.odf klipod24.odf  		// Research Pod (Enhanced Warp Cores - Assault Phaser Power Capacitor)
klipod6.odf   4 kbase.odf kresearchc.odf ksuperbl.odf klipod23.odf 			// Research Pod (Modified Cloaking Fields - Project pIH D'ktagh) 

klipod11.odf  2 kbase.odf kupgrade.odf // Research Pod (Weapon Overload Systems - Weapon Systems Upgrade I)
klipod12.odf  2 kbase.odf kupgrade.odf // Research Pod (Rephased Shield Systems - Shield Systems Upgrade I)
klipod13.odf  2 kbase.odf kupgrade.odf // Research Pod (Sensor Reallignment - Sensor Package Upgrade I)
klipod14.odf  2 kbase.odf kupgrade.odf // Research Pod (Warp Field Manipulation - Propulsion Systems Upgrade I)
klipod15.odf  2 kbase.odf kupgrade.odf // Research Pod (Life Support Redundancy Systems - Life Support Systems Upgrade I)
klipod21.odf  2 kbase.odf klipod11.odf // Research Pod (Disruptor Packet Power Booster - Weapon Systems Upgrade II)
klipod22.odf  2 kbase.odf klipod12.odf // Research Pod (Hyperphased Shield Modulation - Shield Systems Upgrade II)
klipod23.odf  2 kbase.odf klipod13.odf // Research Pod (Additive Sensor Power Relays - Sensor Package Upgrade II)
klipod24.odf  2 kbase.odf klipod14.odf // Research Pod (Hydrogen Injection Nozzles - Propulsion Systems Upgrade II)
klipod25.odf  2 kbase.odf klipod15.odf // Research Pod (Auxilliary Gravitational Field Generator - Life Support Systems Upgrade II)

shieldKlingon.odf  1 klipod22.odf      // Planetary Shield (Klingon)

// ***[ KLINGON MIXED TECH ]*********************

KliMix1.odf 3 kbase.odf kresearchc.odf fconst.odf                                   // Federation Tech (EsPlaD) - Capture
KliMix2.odf 2 kbase.odf kresearchc.odf                                           	// Romulan Tech (Sensor Cloaking) - Allied
KliMix3.odf 3 kbase.odf kresearchc.odf rconst.odf                                   // Romulan Tech (Sensor Cloaking) - Capture
KliMix4.odf 3 kbase.odf kresearchc.odf gconst.odf                      	   		    // Gorn Tech (Qeh'Ral) - Capture
KliMix5.odf 3 kbase.odf kresearchc.odf iconst.odf                                   // ISC Tech (Grappler Beam) - Capture
KliMix6.odf 3 kbase.odf kresearchc.odf hconst.odf 				           			// Hydran Tech (Steelfist) - Capture
KliMix7.odf 2 kbase.odf kresearchc.odf                             	           	    // Lyran Tech (ESGs) - Allied   

KQehral.odf     6 kbase.odf klihull4.odf kliMiscR1.odf kliMiscR2.odf klipod2.odf KliMix4.odf  // Unique Battleship (IKS Qeh'ral)
KFighterB.odf   4 kbase.odf koutpost.odf kcarrier.odf KliMix6.odf                             // Fighter (Steelfist FFA)

gDetectK.odf    1 KliMix1.odf								   // Cloak Detection (Suspicious-S Class KFS)
gKCloakR.odf    1 KliMix2.odf								   // Sensor Array Cloak (Allied)
gKCloakR2.odf   1 KliMix3.odf 								   // Sensor Array Cloak (Capture)
gKGrappler.odf  1 KliMix5.odf								   // Grappler (Suspicious-C Class KFC)
gKESG2.odf		1 KliMix7.odf								   // Expanding Sphere Generator (Poisoned Barb)

KCarrierUp.odf  1 KliMix6.odf 								   // Carrier Upgrade 

KOrionWarpIn.odf     2 kbase.odf kyard.odf                     // Orion Pirate Warp-In Ability
KShakurianWarpIn.odf 2 kbase.odf kyard.odf                     // ShaKurian Mercenary Warp-In Ability     

// ***[ KLINGON STATIONS ]*********************
//
kbase.odf     	0                                    	  		  		  // Starbase K
koutpost.odf  	1 kbase.odf                                   	  	  	  // Outpost
kmining.odf   	1 kbase.odf                                    	  	  	  // Dilithium Refinery
korbital.odf  	1 kbase.odf					          					  // Orbital Processing Facility K
ksensor.odf   	1 kbase.odf                         	  		  		  // Sensor Array
kmine.odf     	1 kbase.odf                             		  		  // Type KA Mine
kyard.odf     	1 kbase.odf                         	  	 	  		  // Shipyard K
kyard2.odf    	4 kbase.odf kresearcha.odf kresearchb.odf kresearchc.odf  // Imperial Shipyard
ktrading.odf    1 kbase.odf                          	  		  		  // Trading Station K
kresearcha.odf  1 kbase.odf                              		  		  // KDF Warship Research Laboratory (Hulls)
kresearchb.odf  1 kbase.odf                              		  		  // KDF Warship Conversion Laboratory (Conversions)
kresearchc.odf  1 kbase.odf                              		  		  // Imperial Armory (Equipment)
kupgrade.odf  	4 kbase.odf kresearcha.odf kresearchb.odf kresearchc.odf  // Imperial Research Institute (Upgrades)
ksuperbl.odf  	2 kbase.odf kupgrade.odf 				  				  // Project pIH D'ktagh Station (Super Station)

// ***[ KLINGON ADVANCED WEAPONS ]*****************
//
gKAssault.odf 2 klipod5.odf klipod21.odf	    		// Assault Phaser (Sword of Kahless Class KBB)
gKGHRC.odf    1 klipod3.odf                   			// Gravimetric Harmonic Resonance Cannon (Warrior's Anger Class KCC)
gKAMFP.odf    1 klipod4.odf 	    					// Anti-Matter Field Projector (Accuser Class KDN)
gKJammer.odf  1 klipod23.odf	    					// Communication Jammer (Suspicious-S Class KFS)
gKCloakE.odf  0 										// Experimental Cloak (Bird of Prey Class KECX)
gKCloak.odf   0    										// Klingon Specific Cloak

// ***[ ROMULAN SHIPS ]***************************
//
rconst.odf    1 rbase.odf                             											// Construction Tender (Merlin Class RACS) 
rfreight.odf  1 rbase.odf                             											// Mining Freighter (Osprey Class RDF)
rcargo.odf    3 rbase.odf rtrading.odf RomHull11.odf  											// Cargo Freighter (Patrician Class RAK) 
rsrepair.odf  2 rbase.odf RomHull10.odf 		       											// Fleet Repair Tender (Talon Class RAR)
rcolony.odf   2 rbase.odf RomHull11.odf               											// Colony Ship (Sparrow Class RFB)
rassault.odf  3 rbase.odf RomHull10.odf RomMiscR1.odf 											// Assault Transport (Kestrel Class RAPA)
rfighter.odf  3 rbase.odf routpost.odf rcve.odf     											// Fighter (Blade RFA)
rescort.odf   2 rbase.odf RomHull4.odf   				 										// Escort (Preax Class REC)
rkescort.odf  2 rbase.odf RomMiscR2.odf  				 										// Escort (Kite Class REKC)
rfrigate.odf  3 rbase.odf RomHull1.odf RomMiscR1.odf 		 									// Frigate (Gladius Class RFF)
rscout.odf    3 rbase.odf RomHull1.odf RomEqu1.odf			 									// Scout Frigate (Gladius-S Class RFS)
rkfrigate.odf 2 rbase.odf RomHull7.odf  				 										// Frigate (Finch Class RFKF)
rkscout.odf   3 rbase.odf RomHull7.odf RomEqu2.odf 			 									// Scout Frigate (Finch-S Class RFKS)
rdestroy.odf  1 rbase.odf                             					        				// Destroyer (War Bird Class RDD)
rlcruise.odf  4 rbase.odf RomHull2.odf RomMiscR1.odf RomMiscR3.odf 								// Light Cruiser (Legion Class RCL)
rcruise.odf   4 rbase.odf RomHull2.odf RomMiscR2.odf RomMiscR3.odf 								// Heavy Cruiser (Centurion Class RCA)
rkcruise.odf  3 rbase.odf RomHull8.odf RomMiscR2.odf		 									// Heavy Cruiser (Stormbird Class RCKA)
rtcruise.odf  6 rbase.odf RomHull2.odf RomHull8.odf RomMiscR2.odf RomMiscR3.odf RomEqu3.odf 	// Torpedo Cruiser (Peregrine Class RCT)
rcve.odf      3 rbase.odf RomMiscR1.odf RomEqu4.odf 											// Escort Carrier (Tribune Class RCVE)
rccruise.odf  4 rbase.odf RomHull5.odf RomMiscR2.odf RomMiscR3.odf 								// Command Cruiser (Senator Class RCC) 
rbcruise.odf  5 rbase.odf RomHull5.odf RomMiscR2.odf RomMiscR3.odf Rompod1.odf 					// Battlecruiser (Imperium Class RBC)
rkbcruise.odf 4 rbase.odf RomHull8.odf RomMiscR2.odf Rompod1.odf 								// Battlecruiser (Raven Class RBKC)
rdread.odf    4 rbase.odf RomHull3.odf RomMiscR2.odf RomMiscR4.odf 								// Dreadnought (War Eagle Class RDN)
rkdread.odf   2 rbase.odf RomHull9.odf   				 										// Dreadnought (Condor Class RDKN)
rbattle.odf   3 rbase.odf RomHull6.odf RomMiscR4.odf 		 									// Battleship (Imperial Hawk Class RBB)

rhero.odf  	  4 rbase.odf RomHull5.odf RomMiscR2.odf RomMiscR3.odf 								// RSE D'Meredene (Hero Ship) 

// ***[ ROMULAN RESEARCH PROJECTS ]*********************

RomHull1.odf  2 rbase.odf rresearcha.odf 											// Hull Research (Ornith Series Screen FF)
RomHull2.odf  3 rbase.odf rresearcha.odf RomHull1.odf								// Hull Research (Ornith Series Cruiser CL CA)
RomHull3.odf  3 rbase.odf rresearcha.odf RomHull2.odf 				     			// Hull Research (Ornith Series Dreadnought DN)
RomHull4.odf  4 rbase.odf rresearcha.odf RomHull1.odf RomHull7.odf 					// Hull Research (New Series Escort EC)
RomHull5.odf  5 rbase.odf rresearcha.odf RomHull4.odf RomHull2.odf RomHull8.odf		// Hull Research (New Series Adv. Cruiser CC BC)
RomHull6.odf  5 rbase.odf rresearcha.odf RomHull5.odf RomHull3.odf RomHull9.odf  	// Hull Research (New Series Battleship BB)
RomHull7.odf  2 rbase.odf rresearcha.odf 											// Hull Research (KR Frigate Refit FKF)
RomHull8.odf  3 rbase.odf rresearcha.odf RomHull7.odf								// Hull Research (KR Cruiser Refit CKA)
RomHull9.odf  3 rbase.odf rresearcha.odf RomHull8.odf 								// Hull Research (KR Capital Ship Refit BKC DKN)
RomHull11.odf 2 rbase.odf rresearcha.odf											// Hull Research (Utility Craft FB AK)
RomHull10.odf 3 rbase.odf rresearcha.odf RomHull11.odf  							// Hull Research (Combat Utility Craft AR APA)

RomEqu1.odf   3 rbase.odf rresearchb.odf RomHull1.odf					// Conversion Kit (Scout Frigate FS)
RomEqu2.odf   3 rbase.odf rresearchb.odf RomHull7.odf					// Conversion Kit (Scout Frigate FKS)
RomEqu3.odf   4 rbase.odf rresearchb.odf Romhull2.odf Romhull8.odf		// Conversion Kit (Torpedo Cruiser CT)
RomEqu4.odf   3 rbase.odf rresearchb.odf Romhull10.odf					// Conversion Kit (Escort Carrier CVE)

RomMiscR1.odf 2 rbase.odf rresearchc.odf 			 								// Research Pod (Type L Plasma Torpedo - Light Plasma Torpedoes)
RomMiscR2.odf 3 rbase.odf rresearchc.odf RomMiscR1.odf 								// Research Pod (Type M Plasma Torpedo - Medium Plasma Torpedoes)
RomMiscR3.odf 3 rbase.odf rresearchc.odf RomMiscR1.odf								// Research Pod (Twin Torpedo Tube Mountings - Plasma Torpedoes)
RomMiscR4.odf 4 rbase.odf rresearchc.odf RomMiscR2.odf RomMiscR3.odf				// Research Pod (Multiple Torpedo Tube Mountings - Plasma Torpedoes)
RomMiscR5.odf 5 rbase.odf rresearchc.odf rompod3.odf RomHull6.odf rompod21.odf		// Research Pod (Assault Phaser Examination - Captured Weaponry)
RomMiscR6.odf 4 rbase.odf rresearchc.odf rompod3.odf RomHull2.odf  					// Research Pod (Graviton Cannon Examination - Captured Weaponry)
RomMiscR7.odf 4 rbase.odf rresearchc.odf rompod3.odf RomHull5.odf					// Research Pod (Quantum Wave Beam Examination - Captured Weaponry)
RomMiscR8.odf 4 rbase.odf rresearchc.odf rompod21.odf RomHull3.odf					// Research Pod (Extremely High Frequency Radiation Emitters - Siege Weaponry)
rompod1.odf   3 rbase.odf rresearchc.odf RomHull9.odf  		    					// Research Pod (Dual Heavy Weapon Power Relays - Dual CFDICs)
rompod2.odf   2 rbase.odf rresearchc.odf   		                					// Research Pod (Tal Shiar Agent Training - Espionage)
rompod3.odf   4 rbase.odf rresearchc.odf rompod2.odf rompod21.odf                   // Research Pod (Tal Shiar Technology Acquisition Programme - Advanced Weapons)

rompod11.odf  2 rbase.odf rupgrade.odf                        // Research Pod (Plasma Generation Power Booster - Weapons Systems Upgrade I)
rompod12.odf  2 rbase.odf rupgrade.odf                        // Research Pod (Shield Reinforcement Systems - Shield Systems Upgrade I)
rompod13.odf  2 rbase.odf rupgrade.odf                        // Research Pod (Sensor Refinement - Sensor Package Upgrade I)
rompod14.odf  2 rbase.odf rupgrade.odf                        // Research Pod (Impulse Drive Reactor Enhancement - Propulsion Systems Upgrade I)
rompod15.odf  2 rbase.odf rupgrade.odf                        // Research Pod (Life Support Backup Systems - Life Support Systems Upgrade I)
rompod21.odf  2 rbase.odf rompod11.odf                        // Research Pod (Disruptor Packet Power Boosters - Weapon Systems Upgrade II)
rompod22.odf  2 rbase.odf rompod12.odf                        // Research Pod (Hyperphased Shield Modulation - Shield Systems Upgrade II)
rompod23.odf  2 rbase.odf rompod13.odf                        // Research Pod (Additive Sensor Power Relays - Sensor Package Upgrade II)
rompod24.odf  2 rbase.odf rompod14.odf                        // Research Pod (Hydrogen Injection Nozzles - Propulsion Systems Upgrade II)
rompod25.odf  2 rbase.odf rompod15.odf                        // Research Pod (Auxilliary Gravitational Field Generator - Life Support Systems Upgrade II)

shieldRomulan.odf  1 rompod22.odf    						  // Planetary Shield (Romulan)

// ***[ ROMULAN MIXED TECH ]*********************

RomMix1.odf 3 rbase.odf rresearchc.odf fconst.odf                                      // Federation Tech (Dual Assault Phasers) - Capture
RomMix2.odf 2 rbase.odf rresearchc.odf                                           	   // Klingon Tech (AMFP) - Allied
RomMix3.odf 3 rbase.odf rresearchc.odf kconst.odf                                      // Klingon Tech (AMFP) - Capture
RomMix4.odf 3 rbase.odf rresearchc.odf gconst.odf                                      // Gorn Tech (GHRC + QCB) - Capture
RomMix5.odf 3 rbase.odf rresearchc.odf iconst.odf                                      // ISC Tech (PPD) - Capture
RomMix6.odf 3 rbase.odf rresearchc.odf hconst.odf                                      // Hydran Tech (Shadowblade) - Capture
RomMix7.odf 2 rbase.odf rresearchc.odf                                           	   // Lyran Tech (ESG) - Allied
RomMix8.odf 3 rbase.odf rresearchc.odf lconst.odf                                      // Lyran Tech (ESG) - Capture

rfighterb.odf  4 rbase.odf routpost.odf rcve.odf rommix6.odf 				// Fighter (Shadowblade RFA)

gRDAssault.odf 3 RomMiscR5.odf rompod3.odf rommix1.odf   					// Assault Phaser (Imperial Hawk Class RBB)
gRGHRC.odf 	   3 RomMiscR6.odf rompod3.odf rommix4.odf           	 		// GHRC (Legion Class RCL)
gRQCB.odf      3 RomMiscR7.odf rompod3.odf rommix4.odf 	  	  				// QCB (Senator Class RCC)
gRPPDM.odf	   1 rommix5.odf								   				// PPD (Condor Class RKDN)
gRAMFP.odf	   1 rommix2.odf								   				// AMFP (War Eagle Class RDN) - Allied
gRAMFP2.odf	   1 rommix3.odf	 							   				// AMFP (War Eagle Class RDN) - Capture
gRESG2.odf	   1 rommix7.odf	 							   				// ESG (Centurion Class RCA)
gRESG2B.odf	   1 rommix8.odf	 							   				// ESG (Centurion Class RCA)

RCarrierUp.odf  1 RomMix6.odf 								   // Carrier Upgrade 

RMirakWarpIn.odf 2 Rbase.odf Ryard.odf                   // Mirak Diaspora Warp-In Ability 
ROrionWarpIn.odf 2 Rbase.odf Ryard.odf                   // Orion Pirate Warp-In Ability 

// ***[ ROMULAN STATIONS ]*********************
//
rbase.odf       0                                     			  			// Starbase R
routpost.odf    2 rbase.odf RomMiscR1.odf                                 	// Outpost
rmining.odf     1 rbase.odf                                    		  		// Dilithium Processor
rorbital.odf    1 rbase.odf					          						// Orbital Processing Facility R
rsensor.odf     1 rbase.odf                           			  			// Spy Satellite
rmine.odf       1 rbase.odf                           			  			// Type RA Mine
ryard.odf       1 rbase.odf                           			  			// Shipyard R
ryard2.odf      4 rbase.odf rresearcha.odf rresearchb.odf rresearchc.odf  	// Praetorial Shipyard
rtrading.odf    1 rbase.odf                           			  			// Trading Station R
rresearcha.odf  1 rbase.odf                          			  			// Research Facility (Hulls)
rresearchb.odf  1 rbase.odf                          			  			// Research Facility (Conversions)
rresearchc.odf  1 rbase.odf                          			  			// Research Facility (Equipment)
rupgrade.odf    4 rbase.odf rresearcha.odf rresearchb.odf rresearchc.odf  	// Research Facility (Upgrades)

// ***[ ROMULAN ADVANCED WEAPONS ]*****************
//
gRomSpy.odf      1 rompod2.odf                 		// Romulan Spy (All Classes)
gRCFDIC.odf      0 				        			// Cohesive Fused Deuterium Irradiation Cannon (Preax Class REC)                             
gREHFRC.odf 	 1 RomMiscR8.odf   		        	// EHF Radiation Cannon (War Eagle Class DN)
gRCloak.odf 	 0   								// Romulan Specific Cloak
gRCloakStat.odf  0									// Romulan Station Auto Cloak 
gDetectR.odf     3 rompod23.odf	rompod11.odf romhull6.odf // Cloak Detection

// ***[ GORN SHIPS ]************************
//
gconst.odf    1 gbase.odf                            		   						// Construction Tender (Lizard Class GACS)
gfreight.odf  1 gbase.odf                            		   						// Mining Freighter (Adder Class GDF)
gcargo.odf    2 gbase.odf GorHull2.odf              		   						// Cargo Freighter (Cobra Class GAK)
gsrepair.odf  2 gbase.odf gresearchc.odf               		   						// Fleet Repair Tender (Gecko Class GAR)
gcolony.odf   3 gbase.odf GorHull1.odf gresearchc.odf  		   						// Colony Ship (Python Class GFB)
gassault.odf  4 gbase.odf GorHull1.odf GorMiscR1.odf gresearchc.odf  				// Assault Transport (Asp Class GAPA)
gpfighter.odf 4 gbase.odf goutpost.odf GorMiscR1.odf GorMiscR3.odf	         		// Pseudo-Fighter (Viper Class GPF)
gscout.odf    3 gbase.odf GorHull3.odf GorEqu1.odf 			   						// Scout Frigate (King Snake Class GFS)
gfrigate.odf  3 gbase.odf GorHull3.odf GorMiscR1.odf                				// Frigate (King Snake Class GFF)
gdestroy.odf  1 gbase.odf  		                         	   						// Destroyer (Anaconda Class GDD)
glcruise.odf  3 gbase.odf GorHull4.odf GorEqu2.odf			   						// Light Cruiser (Rattlesnake Class GCL)
gcruise.odf   3 gbase.odf GorHull4.odf GorMiscR1.odf                				// Heavy Cruiser (Euromastyx Class GCA) 
gscruise.odf  3 gbase.odf GorHull4.odf GorEqu3.odf    		   						// Scout Cruiser (Saurus Class GCS)
gtcruise.odf  3 gbase.odf GorHull4.odf GorEqu4.odf 			   						// Torpedo Cruiser (Reptillon Class GCT)
gccruise.odf  5 gbase.odf GorHull5.odf GorMiscR1.odf GorMiscR2.odf GorMiscR3.odf  	// Command Cruiser (Beowuulf Class GCC)
gbcruise.odf  3 gbase.odf GorHull5.odf GorEqu5.odf			   						// Battlecruiser (Basilisk Class GBC)
gdread.odf    5 gbase.odf GorHull6.odf GorMiscR1.odf GorMiscR2.odf GorMiscR3.odf  	// Dreadnought (Grendel Class GDN)
gbattle.odf   3 gbase.odf GorHull6.odf GorEqu6.odf 									// Battleship (King Grendel Class GBB)
gsuper.odf    5 gbase.odf gsuperbl.odf GorHull1.odf GorMiscR4.odf gorpod1.odf   	// Superweapon (Glormaskt Class GXX)

ghero.odf     3 gbase.odf GorHull6.odf GorEqu6.odf 									// General Thormasskk

// ***[ GORN MIXED TECH ]*********************

GorMix1.odf 2 gbase.odf gresearchc.odf                                           	// Federation Tech (Esplads) - Allied
GorMix2.odf 3 gbase.odf gresearchc.odf kconst.odf                                   // Klingon Tech (Cloak) - Capture
GorMix3.odf 3 gbase.odf gresearchc.odf rconst.odf                                   // Romulan Tech (EHFRC) - Capture
GorMix4.odf 3 gbase.odf gresearchc.odf iconst.odf                                   // ISC Tech (PPD) - Capture
GorMix5.odf 2 gbase.odf gresearchc.odf                                           	// Hydran Tech (GHRC for Viper) - Allied
GorMix6.odf 3 gbase.odf gresearchc.odf lconst.odf                                   // Lyran Tech (GNS Queen Derenesktta) - Capture

GCarrier.odf  4 gbase.odf GorHull5.odf GorEqu5.odf gormix6.odf 				   		// Psuedo-Fighter Tender (GNS Queen Derenesktta)

gDetectG.odf  	      1 gormix1.odf   				   		   	// Esplads (Sensor Emplacement)
gGCloak.odf    	      1 gormix2.odf           	 		   		// Cloak (King Snake Class GFF/King Snake GFS)
gGEHFRC.odf           1 gormix3.odf 	  	  		   			// EHFRC (Grendel Class GDN)
gGEHFRC2.odf          1 gormix3.odf 	  	  		   			// EHFRC (King Grendel Class GBB)
gGPPDM.odf    	      1 gormix4.odf							   	// PPD (Basilisk Class GBC)

GCarrierUp.odf        1 GorMix5.odf 						    // Carrier Upgrade 
GStationUp.odf		  1 GorMix5.odf								// Outpost Upgrade

GMirakWarpIn.odf      2 gbase.odf gyard.odf                     // Mirak Diaspora Warp-In Ability
GShakurianWarpIn.odf  2 gbase.odf gyard.odf                     // ShaKurian Mercenary Warp-In Ability

// ***[ GORN STATIONS ]*********************
//
gbase.odf      0                                      					// Starbase G
goutpost.odf   2 gbase.odf GorMiscR1.odf								// Psuedo-Fighter Station
gmining.odf    1 gbase.odf                                     			// Dilithium Emulsifier
gorbital.odf   1 gbase.odf			                      				// Orbital Processing Facility G
gsensor.odf    1 gbase.odf                            					// Sensor Emplacement
gmine.odf      1 gbase.odf                            		        	// Type GA Mine
gyard.odf      1 gbase.odf                            		        	// Shipyard G
gyard2.odf     4 gbase.odf gresearcha.odf gresearchb.odf gresearchc.odf // Royal Shipyard
gtrading.odf   1 gbase.odf                            					// Trading Station G
gresearchA.odf 1 gbase.odf                          					// Research Facility (Hulls)
gresearchB.odf 1 gbase.odf                          					// Research Facility (Conversions)
gresearchC.odf 1 gbase.odf                          					// Research Facility (Equipment)
gupgrade.odf   4 gbase.odf gresearcha.odf gresearchb.odf gresearchc.odf // Research Facility (Upgrades)
gsuperbl.odf   3 gbase.odf gyard2.odf gupgrade.odf    					// Project Glormaskt Station (Super Station)

// ***[ GORN RESEARCH PROJECTS ]*********************

gorHull1.odf  2 gbase.odf gresearcha.odf                    	// Hull Research (Utility Hull FB APA)
gorHull2.odf  2 gbase.odf gresearcha.odf 						// Hull Research (Bulk Freighter Hull AK)				
gorHull3.odf  2 gbase.odf gresearcha.odf  						// Hull Research (Light Screen Hull FF)
gorHull4.odf  3 gbase.odf gresearcha.odf gorHull3.odf    		// Hull Research (Cruiser hull CA)
gorHull5.odf  3 gbase.odf gresearcha.odf gorHull4.odf   		// Hull Research (Advanced Cruiser Hull CC)
gorHull6.odf  3 gbase.odf gresearcha.odf gorHull5.odf			// Hull Research (Command Ship Hull DN)
           
gorpod1.odf   3 gbase.odf gresearchc.odf gupgrade.odf   		// Research Pod (Glormaskt Project Crew Conditioning)  
gorpod2.odf   3 gbase.odf gresearchc.odf gorHull4.odf          	// Research Pod (Graviton Distortion Circuitry)
gorpod3.odf   3 gbase.odf gresearchc.odf gorHull5.odf           // Research Pod (Reiterative Tractor Beam Circuitry)
gorpod4.odf   2 gbase.odf gresearchc.odf             	        // Research Pod (Gravitic Harmonous Resonators)

gorEqu1.odf   3 gbase.odf gresearchb.odf gorHull3.odf												// Conversion Kit (Scout Frigate FS)
gorEqu2.odf   3 gbase.odf gresearchb.odf gorHull4.odf												// Conversion Kit (Light Cruiser CL)
gorEqu3.odf   5 gbase.odf gresearchb.odf gorHull4.odf gorMiscR1.odf gorEqu1.odf   					// Conversion Kit (Scout Cruiser CS)
gorEqu4.odf   5 gbase.odf gresearchb.odf gorHull4.odf gorMiscR1.odf gorMiscR2.odf					// Conversion Kit (Torpedo Cruiser CT)
gorEqu5.odf   6 gbase.odf gresearchb.odf gorHull5.odf gorMiscR1.odf gorMiscR2.odf gorMiscR3.odf 	// Conversion Kit (Battlecruiser BC)
gorEqu6.odf   6 gbase.odf gresearchb.odf gorHull6.odf gorMiscR1.odf gorMiscR2.odf gorMiscR3.odf		// Conversion Kit (Battleship BB)

gorMiscR1.odf 2 gbase.odf gresearchc.odf  			     				// Research Pod (Type G Plasma Torpedo)
gorMiscR2.odf 4 gbase.odf gresearchc.odf gorMiscR1.odf gorHull4.odf  	// Research Pod (Multiple Torpedo Tubes)	
gorMiscR3.odf 3 gbase.odf gresearchc.odf gorHull4.odf		     		// Research Pod (Ablative Armour Plating)
gorMiscR4.odf 4 gbase.odf gresearchc.odf gorEqu4.odf gsuperbl.odf    	// Research Pod (Parralax Generator)

gorpod11.odf  2 gbase.odf gupgrade.odf        // Research Pod (Weapon Systems Recyclic Energy Circuitry - Weapon Systems Upgrade I)
gorpod12.odf  2 gbase.odf gupgrade.odf        // Research Pod (Remodulating Shield Harmonics Booster - Shield Systems Upgrade I)
gorpod13.odf  2 gbase.odf gupgrade.odf        // Research Pod (Sensor Package Plasma Detection Subroutines - Sensor Package Upgrade I)
gorpod14.odf  2 gbase.odf gupgrade.odf        // Research Pod (Warp Field Streamlining & Impulse Drive Superconductors - Propulsion Systems Upgrade I)
gorpod15.odf  2 gbase.odf gupgrade.odf        // Research Pod (Life Support Redundancy Circuitry - Life Support Systems Upgrade I)
gorpod21.odf  2 gbase.odf gorpod11.odf 	      // Research Pod (Hyperrelay Weapon Capacitor - Weapon Systems Upgrade II)
gorpod22.odf  2 gbase.odf gorpod12.odf        // Research Pod (Auxilliary Shielding Generation Systems - Shield Systems Upgrade II)
gorpod23.odf  2 gbase.odf gorpod13.odf        // Research Pod (Unique Plasma Signature Detection Computer - Sensor Package Upgrade II)
gorpod24.odf  2 gbase.odf gorpod14.odf        // Research Pod (Engine System Additive Shielding - Propulsion Systems Upgrade II)
gorpod25.odf  2 gbase.odf gorpod15.odf        // Research Pod (Emergency Anti-Depressurisation Array - Life Support Systems Upgrade II) 

shieldGorn.odf  1 gorpod22.odf    			  // Planetary Shield (Gorn)

// ***[ GORN ADVANCED WEAPONS ]**************
//

gGGHRC.odf   1 gorpod4.odf                          // Gravimetric Harmonic Resonance Cannon (Anaconda Class GDD)   
gGGDDS.odf   1 gorpod2.odf 			    			// Graviton Density Distortion Sphere Off (Euromastyx Class GCA)
gGGDDSCL.odf 1 gorpod2.odf 			    			// Graviton Density Distortion Sphere Off (Rattlesnake Class GCL)
gGGDDS2.odf  1 gorpod2.odf 			    			// Graviton Density Distortion Sphere Def (Rattlesnake Class GCL and Euromastyx Class GCA)
gGQCB.odf    1 gorpod3.odf			    			// Quantum Wave Carrier Beam (Asp Class GAPA, Grendel Class GDN and King Grendel Class GBB)
gGTriP.odf   2 gorpod1.odf gsuperbl.odf	            // Triparralax Device (Glormaskt Class GXX)

// ***[ THOLIAN SHIPS ]************************
//
tconst.odf    1 tbase.odf                    				// Crystal Carver (Bismuth Class TACS)
tfreight.odf  1 tbase.odf                             		// Crystalene Extractor (Granite Class TDF)
tsrepair.odf  1 tbase.odf               		      		// Crystal Reconciller (Diamond Class TAR)
tcolony.odf   1 tbase.odf  	          		      			// Colony Ship (Calcinite Class TFB)
tscout.odf    1 tyard.odf	    	      					// Scout Escort (Feldspar-S Class TES)
tescort.odf   1 tyard.odf 			                		// Escort (Feldspar Class TEC)
tdestroy.odf  2 tyard.odf ThoHull2.odf                		// Destroyer (Quartz Class TDD)
tlcruise.odf  2 tyard.odf ThoHull1.odf		      			// Light Cruiser (Garnet Class TCL)
tcruise.odf   3 tyard.odf ThoHull1.odf ThoEqu1.odf    		// Heavy Cruiser (Ruby Class TCA) 
tmonitor.odf  3 tyard.odf ThoHull1.odf ThoEqu2.odf    	    // Defense Monitor (Citrine Class TDM)	
tbcruise.odf  3 tyard2.odf ThoHull3.odf ThoMiscR1.odf		// Battlecruiser (Amethyst Class TBC)
tdread.odf    3 tyard2.odf ThoHull4.odf ThoMiscR1.odf		// Dreadnought (Sapphire Class TDN)
tbattle.odf   3 tyard2.odf ThoEqu3.odf ThoHull4.odf 		// Battleship (Emerald Class TBB)

// ***[ THOLIAN RESEARCH PROJECTS ]*********************

ThoHull1.odf  1 TresearB.odf                    	// Hull Research (Enlarged Basic Hull)
ThoHull2.odf  2 TresearB.odf ThoMiscR3.odf 			// Hull Research (Neo-Tholian Hull - 1/4 Sized Prototype)				
ThoHull3.odf  2 TresearB.odf ThoHull2.odf 			// Hull Research (Neo-Tholian Hull - Developmental Hull)
ThoHull4.odf  2 TresearB.odf ThoHull3.odf    		// Hull Research (Neo-Tholian Hull - Full Size Neo-Tholian Hull)

ThoEqu1.odf   3 TresearC.odf ThoHull1.odf ThoMiscR2.odf 	// Conversion Kit (Neo-Tholian Enhancement - Cruiser)
ThoEqu2.odf   3 TresearC.odf ThoEqu1.odf ThoMiscR1.odf 		// Conversion Kit (Monitor Conversion)
ThoEqu3.odf   3 TresearC.odf ThoMiscR1.odf ThoHull4.odf 	// Conversion Kit (Battleship Conversion)

ThoMiscR1.odf 1 ThoMiscR3.odf      			      			// Research Pod (Heavy Disruptor Battery Research)
ThoMiscR2.odf 2 ttransmit.odf ThoMiscR4.odf					// Research Pod (Composite Design Research)
ThoMiscR3.odf 2 ttransmit.odf ThoMiscR2.odf					// Research Pod (Neo-Tholian Design Rediscovery)
ThoMiscR4.odf 1 ttransmit.odf 								// Research Pod (Neo-Tholian Contact Frequencies)
ThoMiscR5.odf 2 ttransmit.odf ThoMiscR4.odf					// Research Pod (Intergalactic Destination Coordinates)
ThoMiscR6.odf 3 ttransmit.odf ThoMiscR5.odf Tyard2.odf		// Research Pod (Local Area Portal Generation)
ThoMiscR7.odf 2 ttransmit.odf ThoMiscR4.odf					// Research Pod (Energy Cannon)

Thopod11.odf 1 tupgrade.odf                     // Research Pod (Enhanced Phaser Power Crystals - Weapons Systems Upgrade I)
Thopod12.odf 1 tupgrade.odf                     // Research Pod (Enhanced Shield Crystals - Shield Systems Upgrade I)
Thopod13.odf 1 tupgrade.odf                     // Research Pod (Sensor Net Upgrade - Sensor Package Upgrade I)
Thopod14.odf 1 tupgrade.odf                     // Research Pod (Crystaline Engine Core Refinement - Propulsion Systems Upgrade I)
Thopod15.odf 1 tupgrade.odf                     // Research Pod (Auxilliary Gravitational Field Generator - Life Support Systems Upgrade II)
Thopod21.odf 1 thopod11.odf                     // Research Pod (Super Enhanced Phaser Power Crystal Research - Weapon Systems Upgrade II)
Thopod22.odf 1 thopod12.odf                     // Research Pod (Super Enhanced Shield Crystals Research - Shield Systems Upgrade II)
Thopod23.odf 1 thopod13.odf                     // Research Pod (Sensor Net Upgrade Phase II - Sensor Package Upgrade II)
Thopod24.odf 1 thopod14.odf                     // Research Pod (Impulse Drive Plate Polarisation - Propulsion Systems Upgrade II)
Thopod25.odf 1 thopod15.odf                     // Research Pod (Sulphur-Ammonia Life Support Systems - Life Support Systems Upgrade II)

shieldTholian.odf  1 thopod22.odf    			// Planetary Shield (Tholian)

// ***[ THOLIAN STATIONS ]*********************
//
tbase.odf     0                                         			  	// Starbase T
tmining.odf   0                                         			  	// Crystalene Converter
tsensor.odf   1 tbase.odf                              			  	  	// Crystaline Resonator
tmine.odf     1 tbase.odf                              			  	  	// Type TA Mine
tyard.odf     1 tbase.odf      	                    			  	  	// Crystal Former
tyard2.odf    3 tyard.odf ttransmit.odf ThoMiscR5.odf    		  	  	// Neo-Tholian Gate 
TresearB.odf  1 tbase.odf					  		  					// Research Facility (Hulls)
TresearC.odf  1 tbase.odf					  		  					// Research Facility (Conversions)
TresearD.odf  1 tbase.odf					  		  					// Research Facility (Equipment)
tupgrade.odf  3 TresearB.odf TresearC.odf TresearD.odf  			  	// Research Facility (Upgrades)
ttransmit.odf 2 tbase.odf tupgrade.odf		        			  		// Neo-Tholian Receptor/Transmitter
tgate.odf     4 tbase.odf ttransmit.odf tupgrade.odf ThoMiscR6.odf      // Tholian Rift Generator


// ***[ THOLIAN ADVANCED WEAPONS ]**************
//
gtweb.odf     2 ThoMiscR4.odf ThoMiscR7.odf               	// Tholian Web Cannon (quartz, garnet, ruby. amethyst and sapphire class)
gtrift.odf    2 ttransmit.odf ThoMiscR6.odf 		  		// Tholian Rift (Tholian Gate)
gdetectt.odf  0 					  						// Crystal Detector Array (Feldspar-S Class EF)
gresourceExtractionBeam.odf 0				  				// Tholian Crystaliser Beam


// ***[ INTERSTELLAR CONCORDIUM SHIPS ]************************
//
iconst.odf     1 ibase.odf                          						// Construction Tender (Type ACS-XIV)
ifreight.odf   1 ibase.odf                          						// Mining Freighter (Type DF-XX)
icolony.odf    2 ibase.odf ISCEqu8.odf              						// Colony Ship (Type IFB-I)
isrepair.odf   2 ibase.odf iresearchb.odf             						// Fleet Repair Tender (Type AR-XII)  
iassault.odf   2 ibase.odf ISCEqu9.odf              						// Troop Transport (Type APA-VII) 
ifighter.odf   2 ibase.odf icarrier.odf										// Fighter (Type FA-VII)	
iscout.odf     2 ibase.odf ISCEqu1.odf		     							// Scout Frigate (Type FF-IVsc) 
ifrigate.odf   1 ibase.odf			           								// Frigate (Type FF-IV)
ifrigater.odf  2 ibase.odf ISCEqu2.odf		     							// Frigate Refit (Type FF-IVd)
idestroy.odf   2 ibase.odf ISCHull1.odf              						// Destroyer (Type DD-III)
idestroyl.odf  2 ibase.odf ISCHull2.odf	 	     							// Destroyer Leader (Type DD-IIIFL) 
idestroyr.odf  3 ibase.odf ISCHull1.odf ISCEqu3.odf  						// Destroyer Refit (Type DD-IIId)
idestroylr.odf 3 ibase.odf ISCHull2.odf ISCEqu3.odf  						// Destroyer Leader Refit (Type DD-IIFLd)
ilcruise.odf   3 ibase.odf ISCHull3.odf ISCMiscR3.odf  						// Light Cruiser (Type CL-V) 
ilccruise.odf  3 ibase.odf ISCHull3.odf ISCEqu4.odf 		     		    // Light Command Cruiser (Type CCL-II)
icruise.odf    3 ibase.odf ISCHull4.odf ISCMiscR3.odf		     			// Heavy Cruiser (Type CA-VIII) 
icruiser.odf   3 ibase.odf ISCHull4.odf ISCEqu6.odf    		      			// Heavy Cruiser Refit (Type CA-VIIId) 
itcruise.odf   4 ibase.odf ISCHull4.odf ISCEqu5.odf ISCMiscR4.odf			// Torpedo Cruiser (Type CT-II) 
iscruise.odf   4 ibase.odf ISCHull5.odf ISCPod2.odf ISCMiscR3.odf           // Star Cruiser (Type CSA-III)
idread.odf     3 ibase.odf ISCHull6.odf ISCMiscR4.odf						// Dreadnought (Type DN-III)
idreadr.odf    4 ibase.odf ISCHull6.odf ISCEqu7.odf ISCMiscR4.odf 			// Dreadnought Refit (Type DN-IIId)
icarrier.odf   4 ibase.odf ISCHull7.odf ISCPod2.odf ISCMiscR4.odf           // Carrier (Type CVN-VI) 

ihero.odf      4 ibase.odf ISCHull6.odf ISCEqu7.odf ISCMiscR4.odf 			// Commander Nortene

// ***[ INTERSTELLAR CONCORDIUM RESEARCH PROJECTS ]*********************

ISCHull1.odf 2 ibase.odf iresearcha.odf				    		// Research Pod (Destroyer Hull)
ISCHull2.odf 3 ibase.odf iresearcha.odf ISCHull1.odf 		    // Research Pod (Destroyer Leader Hull)
ISCHull3.odf 3 ibase.odf iresearcha.odf ISCHull2.odf		    // Research Pod (Light Cruiser Hull)
ISCHull4.odf 3 ibase.odf iresearcha.odf ISCHull3.odf		    // Research Pod (Heavy Cruiser Hull)
ISCHull5.odf 3 ibase.odf iresearcha.odf ISCHull4.odf		    // Research Pod (Star Cruiser Hull)
ISCHull6.odf 3 ibase.odf iresearcha.odf ISCHull5.odf		    // Research Pod (Dreadnought Hull)
ISCHull7.odf 3 ibase.odf iresearcha.odf ISCHull6.odf		    // Research Pod (Fleet Carrier Hull)

ISCEqu1.odf 2 ibase.odf iresearchb.odf				          												// Research Pod (Scout Conversion)
ISCEqu2.odf 4 ibase.odf iresearchb.odf ISCMiscR2.odf ISCMiscR3.odf    										// Research Pod (Frigate Refit)
ISCEqu3.odf 7 ibase.odf iresearchb.odf ISCHull1.odf ISCHull2.odf ISCMiscR2.odf ISCMiscR3.odf ISCEqu2.odf    // Research Pod (Destroyer Refits)
ISCEqu4.odf 5 ibase.odf iresearchb.odf ISCHull3.odf ISCMiscR5.odf ISCMiscR3.odf								// Research Pod (Light Command Cruiser Conversion)
ISCEqu5.odf 6 ibase.odf iresearchb.odf ISCHull4.odf ISCMiscR8.odf ISCMiscR4.odf ISCPod21.odf				// Research Pod (Torpedo Cruiser Conversion)
ISCEqu6.odf 6 ibase.odf iresearchb.odf ISCHull4.odf ISCMiscR2.odf ISCMiscR4.odf ISCEqu3.odf					// Research Pod (Heavy Cruiser Refit)
ISCEqu7.odf 7 ibase.odf iresearchb.odf ISCHull6.odf ISCMiscR2.odf ISCMiscR4.odf ISCEqu6.odf ISCPod21.odf	// Research Pod (Dreadnought Refit)
ISCEqu8.odf 3 ibase.odf iresearchb.odf ISCMiscR3.odf				    									// Research Pod (Colony Ship Conversion)
ISCEqu9.odf 3 ibase.odf iresearchb.odf ISCMiscR4.odf				    									// Research Pod (Troop Transport Conversion)

ISCPod1.odf   2 ibase.odf iresearchc.odf 			    				// Research Pod (Plasmatic Pulsars)
ISCPod2.odf   2 ibase.odf iresearchc.odf  	                			// Research Pod (Subspace Rifts)
ISCMiscR1.odf 4 ibase.odf iresearchc.odf ISCPod2.odf ISCPod23.odf		// Research Pod (Subspace Portals)
ISCMiscR2.odf 2	ibase.odf iresearchc.odf								// Research Pod (Heavy Disruptors)
ISCMiscR3.odf 4 ibase.odf iresearchc.odf iresearchb.odf iresearcha.odf	// Research Pod (Cruiser Operations)
ISCMiscR4.odf 4 ibase.odf iresearchc.odf ISCMiscR3.odf iupgrade.odf		// Research Pod (Full Scale Pacification)
ISCMiscR5.odf 3 ibase.odf iresearchc.odf ISCPod1.odf 					// Research Pod (Light Plasmatic Pulsar Device)
ISCMiscR6.odf 3 ibase.odf iresearchc.odf ISCMiscR5.odf					// Research Pod (Standard Plasmatic Pulsar Device)
ISCMiscR7.odf 4 ibase.odf iresearchc.odf ISCMiscR6.odf ISCMiscR4.odf 	// Research Pod (Heavy Plasmatic Pulsar Device)
ISCMiscR8.odf 3 ibase.odf iresearchc.odf ISCMiscR4.odf					// Research Pod (Burst Photon Torpedoes)

ISCPod11.odf  2 ibase.odf iupgrade.odf                 // Research Pod (Weapon Systems Recyclic Energy Circuitry - Weapon Systems Upgrade I)
ISCPod12.odf  2 ibase.odf iupgrade.odf                 // Research Pod (Remodulating Shield Harmonics Booster - Shield Systems Upgrade I)
ISCPod13.odf  2 ibase.odf iupgrade.odf                 // Research Pod (Sensor Package Plasma Detection Subroutines - Sensor Package Upgrade I)
ISCPod14.odf  2 ibase.odf iupgrade.odf                 // Research Pod (Warp Field Streamlining & Impulse Drive Superconductors - Propulsion Systems Upgrade I)
ISCPod15.odf  2 ibase.odf iupgrade.odf                 // Research Pod (Life Support Redundancy Circuitry - Life Support Systems Upgrade I)
ISCPod21.odf  2 ibase.odf ISCPod11.odf                 // Research Pod (Hyperrelay Weapon Capacitor - Weapon Systems Upgrade II)
ISCPod22.odf  2 ibase.odf ISCPod12.odf                 // Research Pod (Auxilliary Shielding Generation Systems - Shield Systems Upgrade II)
ISCPod23.odf  2 ibase.odf ISCPod13.odf                 // Research Pod (Unique Plasma Signature Detection Computer - Sensor Package Upgrade II)
ISCPod24.odf  2 ibase.odf ISCPod14.odf                 // Research Pod (Engine System Additive Shielding - Propulsion Systems Upgrade II)
ISCPod25.odf  2 ibase.odf ISCPod15.odf                 // Research Pod (Emergency Anti-Depressurisation Array - Life Support Systems Upgrade II) 

shieldConcordium.odf  1 ISCPod22.odf    			   // Planetary Shield (ISC)

// ***[ ISC MIXED TECH ]*********************

ISCMix1.odf 3 ibase.odf iresearchc.odf fconst.odf                                          // Federation Tech (Sensor Post) - Capture
ISCMix2.odf 3 ibase.odf iresearchc.odf kconst.odf                                          // Klingon Tech (Grappler) - Capture
ISCMix3.odf 3 ibase.odf iresearchc.odf rconst.odf                                          // Romulan Tech (Cloak) - Capture
ISCMix4.odf 3 ibase.odf iresearchc.odf gconst.odf                                          // Gorn Tech (GHRC) - Capture
ISCMix5.odf 3 ibase.odf iresearchc.odf hconst.odf                                          // Hydran Tech (FA-IX Fighter) - Capture
ISCMix6.odf 3 ibase.odf iresearchc.odf lconst.odf                                          // Lyran Tech (Defensive ESG) - Capture

IFighterB.odf  3 ibase.odf icarrier.odf	iscmix5.odf				// Fighter (Type FA-IX)
ISensor.odf    2 ibase.odf iscmix1.odf						   	// Sensor Buoy

gIGrappler.odf 	1 iscmix2.odf           	 		   			// Grappler (APA)
gICloak.odf     1 iscmix3.odf 	  	  		   			  	   	// Cloak (FS)
gIGHRC.odf    	1 iscmix4.odf							   	   	// GHRC (DD)
gIGHRC2.odf    	1 iscmix4.odf							   	   	// GHRC (DDd)
gIESG2.odf    	1 iscmix6.odf							   	   	// Defensive ESG (CV)

ICarrierUp.odf  1 ISCMix5.odf 								   // Carrier Upgrade 

IFFRefit.odf    1 ISCEqu2.odf 								   // Frigate Refit
IDDRefit.odf    1 ISCEqu3.odf 								   // Destroyer Refit
IDLRefit.odf 	1 ISCEqu3.odf								   // Destroyer Leader Refit
ICARefit.odf	1 ISCEqu6.odf								   // Cruiser Refit
IDNRefit.odf    1 ISCEqu7.odf                                  // Dreadnought Refit


// ***[ INTERSTELLAR CONCORDIUM STATIONS ]*********************
//
ibase.odf     	0                                     			 			// Starbase (I)
imining.odf   	1 ibase.odf                                   		 		// Resource Station
imine.odf     	1 ibase.odf                                   		 		// Type IA Mine
iyard.odf     	1 ibase.odf                           			 			// Shipyard Type I
iyard2.odf    	4 ibase.odf iresearcha.odf iresearchb.odf iresearchc.odf 	// Shipyard Type II
iresearcha.odf  1 ibase.odf                           			 			// Meskeen Research Facility (Hulls)
iresearchb.odf  1 ibase.odf              				 					// Veltressai Research Facility (Conversions)
iresearchc.odf  1 ibase.odf						 							// Rovillian Research Facility (Miscellaneous)
iupgrade.odf  	4 ibase.odf iresearcha.odf iresearchb.odf iresearchc.odf 	// Joint Interstellar Research Station (Upgrades)
irecycle.odf  	1 ibase.odf                              		 			// Disassembly Array
isuperbl.odf 	4 ibase.odf iresearcha.odf iupgrade.odf ISCMiscR1.odf 	 	// Subspace Research Facility

// ***[ INTERSTELLAR CONCORDIUM ADVANCED WEAPONS ]**************
//
gISSJD.odf     	  0										// Subspace Jump Drive
gISSDG.odf     	  1 ISCPod2.odf        					// Subspace Distortion Generator
gISubPort.odf 	  1 ISCMiscR1.odf 		      			// Subspace Portal	
gISubRift.odf     1 ISCMiscR1.odf   					// Subspace Rift
gIPPDL.odf    	  2 ISCPod1.odf ISCMiscR5.odf			// Light PPD
gIPPDM.odf        2 ISCPod1.odf ISCMiscR6.odf			// Medium PPD
gIPPDH.odf        2 ISCPod1.odf ISCMiscR7.odf			// Heavy PPD
gIPPDMBase.odf    0 									// Medium PPD (Base Mounted)
gDetectI.odf      3 ISCPod23.odf ISCMiscR4.odf ISCMiscR8.odf // Cloak Detection
gIIonBeam.odf     0 									// Ionic Beam                                             
// ***[ HYDRAN SHIPS ]************************
//
hconst.odf      1 hbase.odf                                                           			// Construction Tender (Peasant Class HACS)
hfreight.odf    1 hbase.odf                                                           			// Mining Freighter (Serf Class HDF)
hcargo.odf      1 hbase.odf                                                           			// Cargo Freighter (Merchant Class HAK)
hsrepair.odf    2 hbase.odf hresearchc.odf                               	      				// Fleet Repair Tender (Squire Class HAR) 
hcolony.odf     3 hbase.odf hresearcha.odf hresearchb.odf                             			// Colony Ship (Autocrat Class HFB)
hassault.odf    3 hbase.odf hresearcha.odf HydMiscR2.odf                              			// Troop Transport (Saracen Class HAPA)
hfighter.odf    4 hbase.odf houtpost.odf HydMiscR3.odf HydMiscR4.odf                            // Hellbore Fighter (Fusileer HFA)
hfighterb.odf   4 hbase.odf houtpost.odf HydMiscR2.odf HydMiscR4.odf                            // Fusion Beam Fighter (Halberdier HFA)
hscout.odf      2 hbase.odf HydEqu1.odf                                               			// Scout Frigate (Archer Class HFS)
hfrigate.odf    1 hbase.odf                                             						// Frigate (Yeoman Class HFF)
hdestroy.odf    3 hbase.odf HydHull1.odf HydMiscR2.odf                                			// Destroyer (Knight Class HDD)
hdestroyl.odf   4 hbase.odf HydHull1.odf HydMiscR2.odf HydEqu2.odf                    			// Destroyer Leader (Paladin Class HDL)
hlcruise.odf    3 hbase.odf HydHull2.odf HydMiscR2.odf                                			// Light Cruiser (Regent Class HCL)
hcruise.odf     4 hbase.odf HydHull3.odf HydMiscR2.odf HydMiscR3.odf                  			// Heavy Cruiser (Baron Class HCA)
hmonitor.odf    6 hbase.odf HydHull4.odf HydMiscR3.odf HydMiscR5.odf HydMiscR6.odf HydEqu3.odf  // Hellbore Monitor (Pikeman Class HMH)
hccruise.odf    5 hbase.odf HydHull4.odf HydMiscR1.odf HydMiscR3.odf HydMiscR5.odf              // Command Cruiser (Duke Class HCC)
hdread.odf      5 hbase.odf HydHull5.odf HydMiscR1.odf HydMiscR3.odf HydMiscR5.odf              // Dreadnought (Monarch Class HDN)
hcarrier.odf    6 hbase.odf HydHull5.odf HydMiscR1.odf HydMiscR2.odf HydMiscR5.odf HydEqu4.odf  // Fleet Carrier (Royal Sovereign Class HCV)

// ***[ HYDRAN RESEARCH PROJECTS ]*********************

HydHull1.odf  2 hbase.odf hresearcha.odf			      			  	// Hull Research (Destroyer DD)
HydHull2.odf  3 hbase.odf hresearcha.odf HydHull1.odf                 	// Hull Research (Light Cruiser CL)
HydHull3.odf  3 hbase.odf hresearcha.odf HydHull2.odf                 	// Hull Research (Heavy Cruiser CA)
HydHull4.odf  3 hbase.odf hresearcha.odf HydHull3.odf                 	// Hull Research (Advanced Cruiser CC/MH)
HydHull5.odf  3 hbase.odf hresearcha.odf HydHull4.odf                 	// Hull Research (Capital DN/CV)

HydEqu1.odf   2 hbase.odf hresearchb.odf 			      				// Conversion Kit (Scout Frigate FS)
HydEqu2.odf   4 hbase.odf hresearchb.odf HydHull1.odf HydMiscR2.odf   	// Conversion Kit (Destroyer Leader DL)
HydEqu3.odf   4 hbase.odf hresearchb.odf HydHull4.odf HydMiscR3.odf   	// Conversion Kit (Hellbore Monitor MH)
HydEqu4.odf   4 hbase.odf hresearchb.odf HydHull5.odf HydMiscR2.odf   	// Conversion Kit (Fleet Carrier CV)

HydMiscR1.odf 4 hbase.odf hresearchc.odf HydHull4.odf hydpod24.odf                 	// Research Pod (Multi-Nacelled Designs - Advanced Cruisers & Capitals)
HydMiscR2.odf 3 hbase.odf hresearchc.odf HydHull1.odf                              	// Research Pod (Fusion Beam Emitters)
HydMiscR3.odf 2 hbase.odf hresearchc.odf			                   				// Research Pod (Multiple Hellbore Mounts)
HydMiscR4.odf 3 hbase.odf hresearchc.odf hydpod24.odf                              	// Research Pod (Fighter Miniaturisation)
HydMiscR5.odf 5 hbase.odf hresearchc.odf HydMiscR2.odf HydMiscR3.odf hydpod21.odf  	// Research Pod (Photon Cannon)
HydMiscR6.odf 3 hbase.odf hresearchc.odf HydMiscR5.odf                             	// Research Pod (Proximity Photon Shells)

hydpod11.odf  2 hbase.odf hupgrade.odf    // Research Pod (Weapon Systems Recyclic Energy Circuitry - Weapon Systems Upgrade I)
hydpod12.odf  2 hbase.odf hupgrade.odf    // Research Pod (Remodulating Shield Harmonics Booster - Shield Systems Upgrade I)
hydpod13.odf  2 hbase.odf hupgrade.odf    // Research Pod (Sensor Package Plasma Detection Subroutines - Sensor Package Upgrade I)
hydpod14.odf  2 hbase.odf hupgrade.odf    // Research Pod (Warp Field Streamlining & Impulse Drive Superconductors - Propulsion Systems Upgrade I)
hydpod15.odf  2 hbase.odf hupgrade.odf    // Research Pod (Life Support Redundancy Circuitry - Life Support Systems Upgrade I)
hydpod21.odf  2 hbase.odf hydpod11.odf 	  // Research Pod (Hyperrelay Weapon Capacitor - Weapon Systems Upgrade II)
hydpod22.odf  2 hbase.odf hydpod12.odf    // Research Pod (Auxilliary Shielding Generation Systems - Shield Systems Upgrade II)
hydpod23.odf  2 hbase.odf hydpod13.odf    // Research Pod (Unique Plasma Signature Detection Computer - Sensor Package Upgrade II)
hydpod24.odf  2 hbase.odf hydpod14.odf    // Research Pod (Engine System Additive Shielding - Propulsion Systems Upgrade II)
hydpod25.odf  2 hbase.odf hydpod15.odf    // Research Pod (Emergency Anti-Depressurisation Array - Life Support Systems Upgrade II)

shieldHydran.odf  1 hydpod22.odf    	  // Planetary Shield (Hydran)   

// ***[ HYDRAN MIXED TECH ]*********************

HydMix1.odf 2 hbase.odf hresearchc.odf                                          	   // Federation Tech (Esplads) - Allied
HydMix2.odf 3 hbase.odf hresearchc.odf kconst.odf                                      // Klingon Tech (AMFP) - Capture
HydMix3.odf 3 hbase.odf hresearchc.odf rconst.odf                                      // Romulan Tech (Cloak) - Capture
HydMix4.odf 2 hbase.odf hresearchc.odf                                           	   // Gorn Tech (GDDS) - Allied
HydMix5.odf 3 hbase.odf hresearchc.odf iconst.odf                                      // ISC Tech (PPD) - Capture
HydMix6.odf 3 hbase.odf hresearchc.odf lconst.odf                                      // Lyran Tech (Offensive ESG) - Capture

gDetectH.odf 	1 hydmix1.odf           	 		   			// Esplads (Sensor Post)
gHAMFP.odf      1 hydmix2.odf 	  	  		   			  	    // AMFP (Monarch Class HDN)
gHCloak.odf    	1 hydmix3.odf							   	    // Cloak (Archer Class HFS)
gHGDDS2.odf    	1 hydmix4.odf							   	    // Defensive GDDS (Royal Sovereign Class HCV)  
gHPPDL.odf      1 hydmix5.odf								    // Light PPD (Regent Class HCL)  
gHESG.odf		1 hydmix6.odf								   	// Offensive ESG (Knight Class HDD) 

HMirakWarpIn.odf     2 hbase.odf hyard.odf                      // Mirak Diaspora Warp-In Ability    
HShakurianWarpIn.odf 2 hbase.odf hyard.odf                      // ShaKurian Mercenary Warp-In Ability        
		 
// ***[ HYDRAN STATIONS ]*********************
//
hbase.odf     	 0                                         					// Starbase H
houtpost.odf     2 hbase.odf HydMiscR3.odf									// Outpost
hmining.odf   	 1 hbase.odf                                       			// Dilithium Purifier
horbital.odf  	 1 hbase.odf					              				// Orbital Processing Facility H
hsensor.odf   	 1 hbase.odf                           						// Sensor Probe
hmine.odf     	 2 hbase.odf HydMiscR3.odf		                    		// Type HA Mine
hyard.odf     	 1 hbase.odf                             					// Shipyard H
htrading.odf  	 1 hbase.odf                               					// Trading Station H
hresearcha.odf   1 hbase.odf                               					// HRN Hull Development Centre (Hulls)
hresearchb.odf   1 hbase.odf                               					// HRN Modification Complex (Conversions)
hresearchc.odf   1 hbase.odf                               					// Royal Armoury (Equipment)
hupgrade.odf  	 4 hbase.odf hresearcha.odf hresearchb.odf hresearchc.odf  	// Royal Shipyard Committee (Upgrades)

// ***[ HYDRAN ADVANCED WEAPONS ]**************
//

hapcan.odf       1  HydMiscR6.odf        					// Proximity Photon Cannon 

// ***[ LYRAN SHIPS ]************************
//
lconst.odf      1 lbase.odf                                                           				// Construction Tender (Felidae Class LACS)
lfreight.odf    1 lbase.odf                                                           				// Mining Freighter (Queen Cat Class LDF)
lcargo.odf      1 lbase.odf                                                           				// Cargo Freighter (Cougar Class LAK)
lsrepair.odf    2 lbase.odf lresearchc.odf                               	      					// Fleet Repair Frigate (Bobcat Class LFR) 
lcolony.odf     3 lbase.odf lresearcha.odf lresearchb.odf                             				// Colony Ship (Feline Class LFB)
lassault.odf    3 lbase.odf lresearcha.odf lresearchb.odf                              				// Troop Transport (Serval Class LAPA)
lpfighter.odf   4 lbase.odf loutpost.odf LyrMiscR2.odf LyrMiscR3.odf                            	// Psuedo-Fighter (Occicat LPF)
lscout.odf      2 lbase.odf LyrEqu1.odf                                               				// Scout Frigate (Wildcat Class LFS)
lfrigate.odf    1 lbase.odf                                             							// Frigate (Lynx Class LFF)
ldestroy.odf    3 lbase.odf LyrHull1.odf LyrMiscR2.odf                                				// Destroyer (Caracal Class LDD)
llcruise.odf    2 lbase.odf LyrHull2.odf                                 							// Light Cruiser (Leopard Class LCL)
lhcruise.odf    3 lbase.odf LyrHull3.odf LyrMiscR2.odf          	         						// Heavy Cruiser (Tiger Class LCA)
lmonitor.odf    4 lbase.odf LyrHull3.odf LyrEqu2.odf LyrMiscR6.odf   								// Guided Missile Monitor (Puma Class LMNG)
lbcruise.odf    4 lbase.odf LyrHull4.odf LyrMiscR1.odf LyrMiscR2.odf             					// Battlecruiser (Panther Class LBC)
ldread.odf      5 lbase.odf LyrHull5.odf LyrMiscR1.odf LyrMiscR2.odf LyrMiscR5.odf                  // Dreadnought (Lion Class LDN)
lbattle.odf     6 lbase.odf LyrHull5.odf LyrEqu3.odf LyrMiscR1.odf LyrMiscR2.odf LyrMiscR5.odf      // Battleship (Royal Lion Class LBB)
lcarrier.odf    5 lbase.odf LyrHull5.odf LyrMiscR2.odf LyrMiscR3.odf LyrEqu4.odf 					// Psuedo-Fighter Tender (Lioness Class LTPF)

// ***[ LYRAN RESEARCH PROJECTS ]*********************
//
LyrHull1.odf  2 lbase.odf lresearcha.odf			      	// Hull Research (Destroyer DD)
LyrHull2.odf  3 lbase.odf lresearcha.odf LyrHull1.odf     	// Hull Research (Light Cruiser CL)
LyrHull3.odf  3 lbase.odf lresearcha.odf LyrHull2.odf     	// Hull Research (Heavy Cruiser CA)
LyrHull4.odf  3 lbase.odf lresearcha.odf LyrHull3.odf     	// Hull Research (Battlecruiser BC/MH)
LyrHull5.odf  3 lbase.odf lresearcha.odf LyrHull4.odf    	// Hull Research (Capital DN/CV)

LyrEqu1.odf   2 lbase.odf lresearchb.odf 			      				// Conversion Kit (Scout Frigate FS)
LyrEqu2.odf   3 lbase.odf lresearchb.odf LyrHull3.odf		      		// Conversion Kit (Guided Missile Monitor MNG)
LyrEqu3.odf   4 lbase.odf lresearchb.odf LyrHull4.odf LyrHull5.odf    	// Conversion Kit (Battleship BB)
LyrEqu4.odf   4 lbase.odf lresearchb.odf LyrHull3.odf LyrHull5.odf    	// Conversion Kit (Psuedo-Fighter Tender)

LyrMiscR1.odf 4 lbase.odf lresearchc.odf LyrHull4.odf lyrpod24.odf                    	// Research Pod (Multi-Barrel Heavy Disruptors)
LyrMiscR2.odf 3 lbase.odf lresearchc.odf LyrHull1.odf                                 	// Research Pod (Heavy Phaser Cannon)
LyrMiscR3.odf 2 lbase.odf lresearchc.odf			                      				// Research Pod (Underway Replenishment)
LyrMiscR4.odf 3 lbase.odf lresearchc.odf lyrpod24.odf                                 	// Research Pod (Energy Sphere Generation)
LyrMiscR5.odf 5 lbase.odf lresearchc.odf LyrMiscR2.odf LyrMiscR3.odf lyrpod21.odf     	// Research Pod (Mauler Cannon)
LyrMiscR6.odf 3 lbase.odf lresearchc.odf LyrMiscR5.odf                                	// Research Pod (Cruise Missile)

lyrpod11.odf  2 lbase.odf lupgrade.odf     // Research Pod (Weapon Overload Systems - Weapon Systems Upgrade I)
lyrpod12.odf  2 lbase.odf lupgrade.odf     // Research Pod (Rephased Shield Systems - Shield Systems Upgrade I)
lyrpod13.odf  2 lbase.odf lupgrade.odf     // Research Pod (Sensor Reallignment - Sensor Package Upgrade I)
lyrpod14.odf  2 lbase.odf lupgrade.odf     // Research Pod (Warp Field Manipulation - Propulsion Systems Upgrade I)
lyrpod15.odf  2 lbase.odf lupgrade.odf     // Research Pod (Life Support Redundancy Systems - Life Support Systems Upgrade I)
lyrpod21.odf  2 lbase.odf lyrpod11.odf     // Research Pod (Disruptor Packet Power Booster - Weapon Systems Upgrade II)
lyrpod22.odf  2 lbase.odf lyrpod12.odf     // Research Pod (Hyperphased Shield Modulation - Shield Systems Upgrade II)
lyrpod23.odf  2 lbase.odf lyrpod13.odf     // Research Pod (Additive Sensor Power Relays - Sensor Package Upgrade II)
lyrpod24.odf  2 lbase.odf lyrpod14.odf     // Research Pod (Hydrogen Injection Nozzles - Propulsion Systems Upgrade II)
lyrpod25.odf  2 lbase.odf lyrpod15.odf     // Research Pod (Auxilliary Gravitational Field Generator - Life Support Systems Upgrade II)  

shieldLyran.odf  1 lyrpod22.odf    		   // Planetary Shield (Lyran)

// ***[ LYRAN MIXED TECH ]*********************

LyrMix1.odf 3 lbase.odf lresearchc.odf fconst.odf                                   // Federation Tech (EsPlaD) - Capture
LyrMix2.odf 2 lbase.odf	lresearchc.odf							   					// Klingon Tech (Grappler Beam) - Allied
LyrMix3.odf 2 lbase.odf lresearchc.odf                                           	// Romulan Tech (Scout Cloaking) - Allied
LyrMix4.odf 3 lbase.odf lresearchc.odf rconst.odf                                   // Romulan Tech (Scout Cloaking) - Capture
LyrMix5.odf 3 lbase.odf lresearchc.odf gconst.odf                      	   		   	// Gorn Tech (GHRC) - Capture
LyrMix6.odf 3 lbase.odf lresearchc.odf iconst.odf                                   // ISC Tech (Jump Drive) - Capture
LyrMix7.odf 3 lbase.odf lresearchc.odf hconst.odf 				           			// Hydran Tech (Occilot LPF) - Capture

lpfighterb.odf   5 lbase.odf loutpost.odf LyrMiscR2.odf LyrMiscR3.odf LyrMix7.odf	// Psuedo-Fighter (Occilot LPF)

gDetectL.odf    1 LyrMix1.odf								   // Cloak Detection (Sensor Post)
gLGrappler.odf  1 LyrMix2.odf								   // Grappler (Serval Class LAPA)
gLCloak.odf     1 LyrMix3.odf								   // Cloak (Wildcat Class LFS - Allied)
gLCloak2.odf    1 LyrMix4.odf 								   // Cloak (Wildcat Class LFS - Capture)
gLGHRC.odf    	1 LyrMix5.odf							   	   // GHRC (Caracal Class LDD)
gLSSJD.odf     	1 LyrMix6.odf								   // Subspace Jump Drive (Wildcat Class LFS)

LCarrierUp.odf  1 LyrMix7.odf 								   // Carrier Upgrade
LStationUp.odf  1 LyrMix7.odf								   // Outpost Upgrade

LOrionWarpIn.odf     2 lbase.odf lyard.odf                     // Orion Pirate Warp-In Ability 
LShakurianWarpIn.odf 2 lbase.odf lyard.odf                     // ShaKurian Mercenary Warp-In Ability    
     
// ***[ LYRAN STATIONS ]*********************
//
lbase.odf     	 0                                         						// Starbase L
loutpost.odf     2 lbase.odf LyrMiscR2.odf										// Outpost
lmining.odf   	 1 lbase.odf                                       				// Dilithium Grader
lorbital.odf  	 1 lbase.odf					              					// Orbital Processing Facility L
lsensor.odf   	 1 lbase.odf                            						// Sensor Post
lmine.odf     	 1 lbase.odf		                            				// Type LA Mine
lyard.odf     	 1 lbase.odf                             						// Shipyard L
lyard2.odf    	 4 lbase.odf lresearcha.odf lresearchb.odf lresearchc.odf       // Grand Shipyard
ltrading.odf  	 1 lbase.odf                               						// Trading Station L
lresearcha.odf   1 lbase.odf                               						// ILN Warship Research Laboratory (Hulls)
lresearchb.odf   1 lbase.odf                               						// ILN Warship Conversion Laboratory (Conversions)
lresearchc.odf   1 lbase.odf                               						// Imperial Guard Station (Equipment)
lupgrade.odf  	 4 lbase.odf lresearcha.odf lresearchb.odf lresearchc.odf  		// Imperial Naval Commissariat (Upgrades)

// ***[ LYRAN ADVANCED WEAPONS ]**************
//

gLESG.odf    	1 LyrMiscR4.odf          					// ESG Offensive Mode (Tiger Class CA)
gLESGBC.odf    	1 LyrMiscR4.odf          					// ESG Offensive Mode (Panther Class BC)
gLESGDN.odf    	1 LyrMiscR4.odf          					// ESG Offensive Mode (Lion Class DN)
gLESGBB.odf    	1 LyrMiscR4.odf          					// ESG Offensive Mode (Royal Lion Class BB)
gLESG2.odf  	1 LyrMiscR4.odf          					// ESG Defensive Mode

// ***[ OTHER RACES STATIONS ]************************
//

mbase.odf     0                                 // Starbase (M)
fbaser.odf    0									// Reserve Fleet Starbase

//*************** OTHER ADVANCED WEAPONS***************
//

gecm.odf     0          // Electronic Countermeasures
geccm.odf    0          // Electronic Counter-Countermeasures
gSelfdes.odf 0      	// Self Destruct
gTracbm.odf  0      	// Tractor Beam
gcloak.odf   0      	// Cloak
FAphoton.odf 0			// Fed/Klingon/ISC Burst Photon
RAphoton.odf 0			// Rom/Gorn Burst Photon (Parallax Torpedo)
LProxMis.odf 0			// Lyran Proximity Warhead Cruise Missiles 
probe.odf    0			// Probe
probeC.odf   0			// Cloak Detect Probe 

gDetectS.odf 0			// Sha'Kurian Native Cloak Detection Ability	
gSGDDS2.odf  0			// Sha'Kurian GDDS Defensive Mode
hQCB.odf     0          // Quantum Wave Carrier Beam (NPC)

fpremnew.odf 0

gtempor.odf  0
gpcloak.odf  0








